# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE / editor configs
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Reports and temp files
*.tmp
*.bak
*.swp

# Mac system files
.DS_Store
